name: Release production package

on:
  push:
    branches:
      - develop

jobs:
  release:
    environment: npm-registry
    runs-on: ubuntu-latest
    env:
      PENDLE_SDK_V2_NPM_AUTH_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }}
    steps:
      - uses: actions/checkout@v1

      - name: Install
        run: yarn install

      - name: Prepare pull request message
        run: echo "NEW_VERSION=$(yarn changeset status --output=release.json && jq -r '.releases[0].newVersion' release.json && rm release.json)" >> $GITHUB_ENV

      - name: Create release pull request
        uses: changesets/action@v1
        with:
          title: "Releasing v${{ env.NEW_VERSION }}"
          commit: "v${{ env.NEW_VERSION }}"
          publish: yarn npm publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_PUBLISH_TOKEN }} # changeset requires this for .npmrc file
